.navbar {
    background-color: #46152A;
}

.barre {
    width: 82vh;
    margin: auto;
}

.loupe {
    position: relative;
    left: -60px;
}

.card {
    background-color: rgba(182, 199, 206, 0.5);

}

body {
    background: url(../img/landscapesun.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;

}

.droite {
    background-color: rgba(182, 199, 206, 0.5);
}

.icon {
    height: 3rem;
    width: auto;
}

.fav {
    height: 5rem;
}

.paname {
    background-color: #46152A;

}