.navbar {
    background-color: #342C67;
}

.barre {
    width: 82vh;
    margin: auto;
}

.loupe {
    position: relative;
    left: -60px;
}

.card {
    background-color: rgba(182, 199, 206, 0.5);
    border-radius: 10px;
}

body {
    background: url(../img/201-2011064_snow-wallpaper-4k.jpg);
}

.droite {
    background-color: rgba(182, 199, 206, 0.5);
}

.icon {
    height: 3rem;
    width: auto;
}


.fav {
    height: 5rem;
}

.myImg {
    height: 100%;
    width: auto;
}

.meudah {
    background-color: #342C67;

}